body {
  font-family: 'PT Sans', sans-serif;
  height: 100%; }

legend {
  font-weight: bold; }

img {
  max-width: 100%; }

pre {
  width: 95%;
  height: 8em;
  font-family: monospace;
  font-size: 0.9em;
  padding: 1px 2px;
  white-space: pre-wrap;
  margin: 0 0 1em auto;
  border: 1px inset #666;
  background-color: #eee;
  overflow: auto; }

table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap; }
  table td, table th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

  .leftTable{
    width: auto;
  }

line {
  stroke: #ccc;
  shape-rendering: crispEdges; }

.bar {
  fill: orange; }
  .bar:hover {
    fill: orangered; }

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px; }
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center; }
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0; }

.right {
  position: absolute;
  right: 0px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px; }

/*.box {
  position: absolute;
  margin-top: 100px;
  z-index: 10;
  float: left;
  overflow: hidden;
  background: white; }*/

.allcolor {
  background: white;
  width: 200px;
  height: auto; }

.palette {
  cursor: pointer;
  display: inline-block;
  /*vertical-align: bottom;*/
  margin: 0px;
  padding: 4px;
  background: #fff;
  border: solid 1px #aaa; }

.swatch {
  width: 6px;
  height: 4px; }

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0; }

.glyphicon.glyphicon-folder-open {
  font-size: 40px; }

/* Add padding and border to inner content
for better animation effect */
/*.box-inner {
  width: 1000px;
  height: 800px;
  padding: 10px;
  /!*border: 1px solid #a29415;*!/ }*/

/* Creates a small triangle extender for the tooltip */
/* Style northward tooltips differently */
.numerical-bar {
  fill: #c2c2c2;
  -webkit-transition: fill 0.3s;
  -moz-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  -ms-transition: fill 0.3s;
  transition: fill 0.3s; }
  .numerical-bar:hover {
    fill: #777; }

.selftab { display:inline-block; margin-left: 40px; }

#fileHandler {
    /* display: none;*/
  /*width: 500px;*/
  height: 50px;
  font-weight: bold;
  text-align: center;
  margin: 1em 0;
  color: #555;
  border-radius: 7px;
  cursor: default; }

#fileselect {
  display: none; }

#any {
  width: 30px; }

#quote {
  width: 30px; }

#container-fluid {
  border-width: thin;
  height: 100%; }

#main {
  margin-top: 20px;
  border-width: thin;
  padding: 0; }


#table-group {
  align: left; }

#topLeftOperations{
  height: 75px;
  overflow: hidden;
}

#leftOperations{
  overflow : auto;
}

#topOperations {
  height: 75px;
  overflow-y : auto;
  overflow-x : hidden;
}

#importedTable {
  border-width: thin;
  overflow: auto; }

#operations {
  border: dashed;
  border-width: thin; }

#string-opr-menu {
  text-align: right; }

#data-operations {
  background-color: lightgrey; }

#semis-wrapper {
  height: 200px;
  overflow: auto; }

#elements-selected {
  height: 100px;
  overflow: auto;
  font-size: small;
  background-color: lightgoldenrodyellow; }

#operator {
  font-size: small; }

#button-new-category {
  background-color: #1b6d85;
  color: white; }

#footer {
  border-width: thin; }

#footer-col {
  border-width: thin;
  height: 50px; }

#head-label {
  font-size: large;
  color: white; }

#filedrag {
  /* display: none;*/
  border: solid;
  /*width: 500px;*/
  height: 50px;
  font-weight: bold;
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
  color: #555;
  border-radius: 7px;
  cursor: default; }
  #filedrag.hover {
    color: #f00;
    border-color: #f00;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888; }

#messages {
  padding: 0 10px;
  margin: 1em 0;
  border: 1px solid #999; }

#progress p {
  display: block;
  width: 240px;
  padding: 2px 5px;
  margin: 2px 0;
  border: 1px inset #446;
  border-radius: 5px;
  background: #eee 100% 0 repeat-y; }
  #progress p.success {
    background: #0c0 none 0 0 no-repeat; }
  #progress p.failed {
    background: #c00 none 0 0 no-repeat; }

#localConsole {
  position: absolute;
  bottom: 0;
  width: 100%; }

/* HOVER STYLES */
div#colorbox-pop-up {
  display: none;
  position: absolute;
  width: 218px;
  height: 185px;
  padding: 10px;
  background: white;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
  /*overflow-y: auto;*/ }

div#datatype-pop-up {
  display: none;
  position: fixed;
  width: 100px;
  height: 100px;
  padding: 10px;
  background: white;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
  /*overflow-y: auto;*/ }

#menu {
  background-color: black;
  color: white;
  /*text-align:left;*/
  padding: 5px;
  width: auto; }

#paginate {
  border-width: thin;
  height: 50px; }
  #paginate ul.pagination li {
    display: inline; }
    #paginate ul.pagination li a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 1px solid #ddd; }
  #paginate.pagination.ul.li.a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50; }
  #paginate ul.pagination li a:hover:not(.active) {
    background-color: #ddd; }

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
